/* * { outline: 2px dotted red; }
* * { outline: 2px dotted green; }
* * * { outline: 2px dotted orange; }
* * * * { outline: 2px dotted blue; }
* * * * * { outline: 1px solid red; }
* * * * * * { outline: 1px solid green; }
* * * * * * * { outline: 1px solid orange; }
* * * * * * * * { outline: 1px solid blue; } */



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: sans-serif;
}

.page__wrapper {
  margin: 0 auto;
  width: 85%;
}

.page__background {
  padding: 30px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page__background--cubes {
  background-image: url('/img/background.png');
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: none;
  width: 40px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__text {
  color: white;
  font-size: 25px;
  margin-left: 20px;
}

.navbar {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar__item {
  margin: 25px;
  font-size: 20px;
  list-style-type: none;

}

.navbar__item--active {
  border-bottom: 2px solid transparent;
  transition: .4s;
}

.navbar__item--active:hover {
  border-bottom: 2px solid yellow;
}

.navbar__link {
  text-decoration: none;
  color: white;
}

.page__btn--primary {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  background-color: #572BD9;
}

.page__btn--secondary {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  background-color: #FFDD33;
}

.btn-margins {
  margin: 25px 15px 0 15px;
}

.title {
  font-size: 40px;
}

.title--padding-top {
  padding-top: 60px;
}

.title--white {
  color: white;
}

.title--black {
  color: black;
}

.subtitle--black {
  color: black;
}

.subtitle--padding-top {
  padding-top: 30px;
}

.subtitle--white {
  color: white;
}

.align-center {
  text-align: center;
}

.pc {
  text-align: center;
}

.pc__img {
  width: 70%;
}

.pc--pos {
  margin-top: 50px;
}

.slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.slider__img {
  margin: 25px;
  width: 230px;
  cursor: pointer;
}

.slider__img--hover {
  opacity: .6;
  transition: .4s;
}

.slider__img:hover {
  opacity: 1;
}

.page__background {
  background-color: #FBFCFE;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 45px;
  height: 320px;
  box-shadow: 0 0 2px 0px #707070;
  border-radius: 15px;
  margin: 20px;
  width: 25%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__logo {
  width: 15%;
}

.ux-structure {
  display: flex;
  align-items: center;
}

.ux-structure--margin-top {
  margin-top: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.left-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 400px;
  min-width: 300px;
}

.right-tab {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
}

.left-tab__empty-img {
  background-color: white;
  width: 85%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 #bdb0b0;
}

.right-tab__subtitile--margin {
  margin: 50px 0;
}

.right-tab__btn--width {
  width: 200px;
}

.page__background--banner-top {
  background-image: url('/img/MaskGroup56.png');
  margin-top: 50px;
}

.banner {
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subtitle--pos {
  margin: 25px 0;
}

.ux-structure-reverse {
  display: flex;
  align-items: center;
}

.ux-structure-reverse--margin-top {
  margin-top: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.left-tab-reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 400px;
  min-width: 300px;
}

.right-tab-reverse {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
}

.left-tab-reverse__empty-img {
  background-color: white;
  width: 85%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 #bdb0b0;
}

.right-tab-reverse__subtitile--margin {
  margin: 50px 0;
}

.right-tab-reverse__btn--width {
  width: 200px;
}

.tasks-pos {
  margin: 30px 0;
}

.right-tab-reverse-tasks-row {
  list-style-type: none;
  display: flex;
}

.right-tab-reverse-tasks-row__img {
  object-fit: contain;
}

.row-pos {
  margin: 15px 0;
}

.right-tab-reverse-tasks-row__text {
  margin-left: 15px;
}

.testimonials-section {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.testimonials-margin-top {
  margin-top: 80px;
}

.testimonials-card {
  width: 25%;
  box-shadow: 0px 0px 10px -7px #707070;
  padding: 20px;
  min-width: 300px;
}

.testimonials-card__name {
  text-align: center;
  opacity: .8;
}

.testimonials-card__subject {
  opacity: .7;
}

.testimonials-card__description {
  opacity: .7;
}

.description-margin {
  margin: 30px 0;
}

.testimonials-card-top {
  position: relative;
  top: -50px;
}

.testimonials__switchers {
  display: flex;
  justify-content: center;
}

.testimonials__switchers-margin {
  margin-top: 50px;
}

.testimonials__switcher {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #535256;
  opacity: .4;
  transition: .4s;
  cursor: pointer;
}

.testimonials__switcher-margin {
  margin: 0 5px;
}

.testimonials__switcher:hover {
  opacity: 1;
  background-color: #6736F9;
}

.page__background--purple-cubes {
  background-image: url("/img/MaskGroup58.png");
}

.pricing-tarifs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pricing-tarifs-margin {
  margin-top: 80px;
}

.pricing-card {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 27%;
  padding: 60px 40px;
  margin: 15px;
}

.pricing-card--hover {
  transition: .4s;
  background-color: white;
}

.pricing__level {
  font-size: 25px;
}

.pricing__functions {
  text-align: center;
  margin: 20px;
}

.pricing-card--hover:hover {
  background-color: #6736F9;
  color: white;
}

.pricing__price {
  margin: 20px 0;
  font-size: 70px;
}

.possibility {
  list-style-type: none;
  margin: 15px 0;
}

.possibility {
  opacity: .7;
}

.pricing-possibilities {
  margin-block-end: auto;
}

.questions-info {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.questions-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.explanation {
  display: flex;
  align-items: center;
  width: 40%;
  min-width: 300px;
  margin: 35px;
}

.answer {
  margin-top: 45px;
}

.answer__subtitle {
  margin-top: 20px;
  color: #7E92AC;
}

.message {
  text-align: center;
}

.message-functions {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  width: 30%;
  min-width: 250px;
}

.message-functions__inp {
  padding: 15px 5px;
  margin: 20px 0px;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid #c3cce8;
}

.message-info {
  margin: 30px 0px;
}

.page__background--banner-bottom {
  background-image: url('/img/MaskGroup57.png');
  margin-top: 50px;
}

.info-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 0px 30px;
}

.info-about {
  width: 250px;
}

.info-about__paragraph {
  margin: 40px 0px 40px;
}

.info-link-list {
  list-style-type: none;

}

.info-link-list__item {
  margin-top: 23px;
}

.subscribe {
  margin-top: 50px;
}

.subscribe-icons__icon {
  width: 50px;
  margin: 10px
}

.info {
  margin-bottom: 60px;
}

.subscribe__inp {
  min-width: 160px;
  width: 50%;
  border-right: none;
  padding: 20px 0;
}

.subscribe-btn {
  position: relative;
  margin-left: -30px;
  padding: 14px 35px;
  top: 4px;
  padding: 16px 35px;
}

.subscribe-btn__icon {
  position: relative;
  top: 5px;
}

.subscribe {
  width: 40%;
}

.info-margin {
  min-width: 240px;
  margin: 50px;
}

.footer {
  background-color: #5B2AEE;
}

@media screen and (max-width: 900px) {
  .navbar {
    display: none;
  }

  .header__logo {
    display: block;
  }

  .logo__text {
    display: none;
  }

  .footer-nav {
    justify-content: center;
  }

  .subscribe__inp {
    padding: 20px 0px;
  }

  .subscribe-btn {
    padding: 15px 1px;
  }

  .info-center {
    justify-content: center;
  }
}

@media screen and (max-width: 920px) {
  .subscribe {
    width: 60%;
  }
}